.chat-box-container {
  position: fixed;
  right: 0px;
  bottom: 80px;
  /* 调整适应右边的位置 */
  z-index: 1000;
}

.chat-box {
  height: calc(50vh);
  bottom: 0;
  width: calc(28vw);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 更改此行 */
  right: 0;
}

.chat-header {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 5px;
  text-align: center;
}

.header-text {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.chat-content {
  overflow-y: auto;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1; /* Add this line */
  max-height: 500px;
}



.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  /* max-width: 80%; Remove this line */
  word-wrap: break-word;
  /* Add this line */
  overflow-wrap: break-word;
  /* Add this line */
  max-width: none;
}


.user-message,
.bot-message {
  position: relative;
  margin-bottom: 10px;
  padding: 2px 3px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
}



.user-message {
  align-self: flex-end;
  background: linear-gradient(135deg, #ff9aa2 0%, #ffafc5 100%);
  color: #003366;
  /* 修改这里 */
  margin-left: 20%;
  margin-left: 0;
  margin-bottom: 10px; /* 这里添加间距 */
}

.user-message::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent #ff9aa2 transparent transparent;
}

.bot-message {
  align-self: flex-start;
  background: linear-gradient(135deg, #fce0e6 0%, #ffeffa 100%);
  color: #333333;
  /* 修改这里 */
  margin-right: 0;
  margin-bottom: 10px; /* 这里添加间距 */
}

.bot-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  border-width: 8px 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #fce0e6;
}





.chat-input {
  display: flex;
  align-items: center;
}

textarea {
  flex: 1;
  height: 100px;
  width: 280px;
  margin-bottom: 10px;
  resize: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}



.chat-icon {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-icon:hover {
  background-color: #0056b3;
}

@media (max-width: 400px) {
  .chat-box {

    width: 40%;

  }
}

.chat-input .send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
  background-color: #0056b3;
}

.user-message>div,
.bot-message>div {
  white-space: pre-wrap;
}