.loading-wrap {
    display: flex;
    flex-direction: column;  /* 使用 column 来将内容垂直居中 */
    justify-content: center;
    align-items: center;
    width: calc(30vw);  /* 去除内边距和边框的宽度 */
    height: calc(46vh );  /* 去除内边距和边框的高度 */
    position: relative; 
    /* z-index: 1000; */
    padding: 50px;  /* 加入与卡片相同的内边距 */
    padding-bottom: 30px;
    /* display: none; */
    font-family: "Helvetica Neue", Arial, sans-serif;  /* 加入与卡片相同的字体 */
  }
  
  
  
  .balls {
    width: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #4848FF;
  }
  
  .balls div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
  }
  
  .balls div:nth-of-type(3) {
    transform: translateX(-95%);
    animation: right-swing 0.5s ease-out alternate infinite;
  }
  
  @keyframes left-swing {
    50%, 100% {
      transform: translateX(95%);
    }
  }
  
  @keyframes right-swing {
    50% {
      transform: translateX(-95%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  