.sidebar-button {
    position: fixed;
    right: 0;
    top: 14%;
    padding: 10px 20px; /* Adds some padding inside the button */
    background-color: #007BFF; /* Gives the button a blue background */
    color: white; /* Makes the button text white */
    border: none; /* Removes the default button border */
    border-radius: 5px; /* Gives the button slightly rounded corners */
    font-size: 16px; /* Makes the button text a bit larger */
    cursor: pointer; /* Changes the cursor when hovering over the button */
    transition: background-color 0.3s; /* Makes the hover effect transition smoothly */
}

.sidebar-button:hover {
    background-color: #0056b3; /* Makes the button a darker blue when hovered over */
}
@media screen and (max-width: 768px) {
    .sidebar-button {
      
      display: none;
    }
  }
  @media (max-height: 600px) {
    .sidebar-button {
      display: none;
    }
  }